 <nav class="navbar navbar-inverse" role="navigation"> 
      <ul class="nav navbar-nav">
          <li><a>WELCOME {{USER.username}}</a></li>
          <li><a ui-sref="accommodation">Add accommodation</a></li>
          	<li><a ui-sref="accommodationUnits">Accommodation units</a></li>
      	  			    
		    <li class="dropdown">
        		<a class="dropdown-toggle" data-toggle="dropdown">Messages<span class="caret"></span></a>
       			<ul class="dropdown-menu">
	          		<li><a ui-sref="receivedMessages">Received Messages</a></li>
	          		<li><a ui-sref="sentMessages">Sent Messages</a></li>
        		</ul>
      		</li>
      		
      		<li><a ui-sref="reservation">Reservations</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">        
	      <li><a ui-sref="signout">SignOut</a></li>
      </ul>
 </nav>
 
 <table id="accommodations" border="1">
 	<tr>
 		<th>Title</th>
		<th>Country</th>
		<th>City</th>
		<th>Address</th>
		<th>Number of persons</th>
		<th>Category Type</th>
		<th>Accommodation Type</th>
		<th>Status (busy)</th>
		<th></th>
 	</tr>
 	
 	<tr ng-repeat="accommodation in accommodations | orderBy:['title']" ng-if="accommodation.busy==false">
		<td>{{accommodation.title}}</td>
		<td>{{accommodation.location.country }}</td>
		<td>{{accommodation.location.city }}</td>
		<td>{{accommodation.location.adress }}</td>
		<td>{{accommodation.numberOfPerson}}</td>
		<td>{{accommodation.category.type}}</td>
		<td>{{accommodation.type.type}}</td>
		<td>{{accommodation.busy}}</td>
		<td align="center">
			<button	ng-click="busyAccommodation(accommodation.id )">Set busy</button>
		</td>
	</tr>
 </table>
 
 <div ng-hide="hideTableForTermins==true">
	<h3>{{detailForTerminAccommodation.title}}</h3>
	<h6>Category type: {{detailForTerminAccommodation.category.type}}</h6>
	<h6>Type: {{detailForTerminAccommodation.type.type}}</h6>
	<p>{{detailForTerminAccommodation.description}}</p>
	
	<table id="accommodationDetails" border="1">
		<tr>
			<th>Start date</th>
			<th>End date</th>
			<th>Price</th>
			<th></th>
		</tr>
		<tr ng-repeat="termin in accommodationForTermins | orderBy:['price']">
			<td>{{date(termin.startDate)}}</td>
			<td>{{date(termin.endDate)}}</td>
			<td>{{termin.price}}</td>
			
			<td  align="center"><button
				 ng-click="">Not available</button></td>
	<!-- 		<td ng-hide="termin.busy==true" align="center"><button
				ng-if="termin.busy==true" ng-click="">Busy</button></td>
 -->	
		</tr>	
		
			
		

	</table>
	
 </div>